
<div class="container">
  <div class="well well-lg">
    <h1><%= "#{current_user.email}'s Tasks"%></h1>
    <h2 class="taskh2">Here you can view your upcoming and completed assignments, exams and quizzes.</h2>
    <%= link_to '         Create New Task', new_task_path, class:"btn btn-lg btn-primary fa fa-2x fa-calendar", style:"margin-bottom:30px; margin-top:30px; color:white" %>

  </div>
  <% if notice %>
    <div class="alert alert-info">
      <p id="notice" class="notice-alert"><%= notice %></p>
    </div>
  <% end %>

  <table id="example" class="table table-responsive table-bordered table-hover">
    <thead>
      <tr>
        <th>Task Title</th>
        <th>Course Code</th>
        <th>Description</th>
        <th>Task Type</th>
        <th>Priority Task</th>
        <th>Due Date</th>
        <th>Time Left</th>
        <th>Action</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
