
<div class="introduction-bg-img" style="margin-bottom:-50px">
  <div class="container">
    <div class="row header text-center">
      <div class="col-md-12">
        <h1 class="header">uTasker - Tasks at your Fingertips</h1>
        <p class="lead">Your university assignments, exams and quizzes are tough enough as they are to complete and track <br> Sign up for Utracker and make your academic life a little bit easier.</p>
        <a class="btn header-btn" href="<%= new_user_registration_path %>" style="color:white; font-size:30px">Sign Up</a>
      </div>
     </div>
  </div>
</div>
